[[source]]
name = "arti-pip-mirror"
url = "https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple/"
verify_ssl = false

[dev-packages]

[packages]
requests = "*"
pytest = "*"

[requires]
python_version = "3"
