[[source]]
name = "arti-pip-mirror"
url = "https://artifactory.algol60.net/artifactory/api/pypi/pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
requests = "*"
pytest = "*"

[requires]
python_version = "3"
