[[source]]
name = "arti-pip-mirror"
url = "https://arti.dev.cray.com:443/artifactory/api/pypi/pypi-remote/simple/"
verify_ssl = false

[dev-packages]

[packages]
requests_toolbelt = "*"
python-dateutil = "*"
boto3 = "*"
semver = "*"
xmltodict = "*"

[requires]
python_version = "3"
